*{
    margin: 0;
}
#header{
    background-color: black;
    height: 100px;
    padding: 20px;
}
#logo{
    background-color: black;
    height: 100px;
}
.shoes{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.players{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
.videos{
    width: 540px;
    height:315px;
}
#mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}
